
@{
    ViewBag.Title = "Empty";
}
<header>
    <div class="panel-heading">
        <p><b>@System.Configuration.ConfigurationManager.AppSettings["Instanta"] - @System.Configuration.ConfigurationManager.AppSettings["Sala"]</b> - @DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("ro-RO")).ToUpper() , @DateTime.Now.ToString(new System.Globalization.CultureInfo("ro-RO")) </p>
    </div>
</header>
<div class="jumbotron">
    <p><br /><br /><br /><br /><br /><br /><b>MOMENTAN NU SE DESFĂŞOARĂ ŞEDINŢE DE JUDECATĂ </b></p>
</div>

